argcomplete==1.10.0
Beaker==1.10.0
beautifulsoup4==4.9.1
Brlapi==0.7.0
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.0
distro==1.4.0
fros==1.1
gpg==1.14.0
humanize==0.5.1
idna==2.8
libcomps==0.1.15
lxml==4.4.1
Mako==1.1.1.dev0
MarkupSafe==1.1.1
nftables==0.1
olefile==0.46
Paste==3.2.4
Pillow==7.0.0
ply==3.11
pycairo==1.18.2
pycparser==2.19
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.5
pyenchant==2.0.0
PyGObject==3.36.1
pyinotify==0.9.6
pyOpenSSL==19.0.0
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.0
pyxdg==0.26
requests==2.22.0
rpm==4.15.1
selinux==3.0
sepolicy==3.0
setools==4.3.0
six==1.14.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.9
soupsieve==1.9.2
systemd-python==234
Tempita==0.5.1
urllib3==1.25.7
